body,p,h1,h2,h3,h4,h5,h6,div,span,nav,img,li,ul,a {
	margin:0px;
	padding:0px;
}
img {width: 100%;}
body {
	background:#fff;
}
p {
	font-family: 'Merriweather';
	font-size: 1.4em;
	color:#333;
	line-height: 1.6;
}
h1 {
	font-size: 2em;
	font-family: 'Georgia';
	font:white;
	text-align: center;
}
h3 {
	font-family: 'Patua One','Helvetica';
	font-size: 1.1em;
	line-height: 1.5em;
}
h4 {
	font-weight: 200;
}
h5 {
	font-size: 0.8em;
	font-family: 'Raleway';
	margin-bottom:15px;
}
hr {
	width:60%;
	position: relative;
	right:20%;
	height:0px;
	border:1px solid #555;
	margin-top:-7px;
	opacity:1;
}
ul {
	list-style-type: none;
}
a {
	color:#008bff;
}
a:hover {
	text-decoration: none;
}

nav {
	position: absolute;
	width:100%;
	z-index: 10;
}
#upper-left-logo {
	position: absolute;
	left:25px;
	top:15px;
	font-size: 2em;
	//color:#ff3100;
	color:#ddd;
	font-family: 'Aladin';

}
#nav-list {
	position: relative;
	float:right;
	padding-left:15px;

}
.nav-list-item {
	display: inline-block;
	padding-right: 30px;
	padding-top: 20px;
	
}
.nav-link {
	color:#eee;
	font-family: 'Philosopher';
	font-size: 1.2em;
}
.nav-link:hover {
	color:#ff3100;
}
.page {
	width:100%;
}
.hero {
	width:100%;
	z-index:0;
	box-shadow: inset 0em 0em 30em #111;
}
#hero-image {
	position:relative;
	width: 100%;
	height:inherit;
}
#address-phone {
	position: absolute;
	bottom:5%;
	left:10%;
	width:80%;
	margin:auto;
	text-align: center;
	

}
#address-phone p {
	font-family: 'Philosopher';
	font-size: 1.3em;
	color:#eee;
}
.link {
	color:#eee;
	text-decoration: none;
}
.link:hover {
	color:#ff3100;
}

.rotating-photos {
	width:100%;
	opacity:.9;
	position: relative;
	z-index:-10;

}
.container {
	width:100%;
	position: relative;
	top:-5px;
	background: #eee;
	z-index:15;
}
.subcontainer {
	position: relative;
	width:90%;
	left:5%;
	background-color: #fff;
}
.left-side {
	width:65%;
	display: inline-block;
	margin:20px 0 20px 0;
	border-right:1px solid #ccc;
}
.right-side {
	width:34.5%;
	height:200px;
	display:inline-block;
	margin:50px 0 20px 0;
	vertical-align: top;
}
#welcome-header {
	font-size: 3em;
	font-family: 'Aladin';
	text-align: left;
	color:#333;
	margin-bottom: 10px;
}
#creasian-summary {
	padding:30px;
}
#creasian-summary p {
	font-family: 'Raleway';
	font-size: 1.2em;

}
#restaurant-photo {
	position: relative;
	width:90%;
	left: 5%;
	margin:0px;
	border-radius:5px;
}

.buttons {
	width:80%;
	position: relative;
	left:7%;
	background-color: rgba(255, 49, 0, 0.8);
	text-align: center;
	border-radius: 5px;
	color:#eee;
	padding:10px;
}
#full-menu-button {
	background-color: rgba(255, 209, 0, 0.8);
	color:#333;
}
.buttons a {
	text-decoration: none;
	color:#333;
	font-family: 'Philosopher'
}



/* Screens 450px to 768px */

@media screen and (max-width: 48em) {
	.left-side {
		width: 100%;
	}
	.right-side {
		width:100%;
	}
	.nav-list-item {
		padding-right: 15px;
	}
	.left-side {
		border:none;
	}
	#welcome-header {
		font-size: 2em;
	}

}

/* Screens 348px to 500px */

@media screen and (max-width: 28.125em) {
	#upper-left-logo {
		position: relative;
		left:0px;
		top:20px;
		width:100%;
		height:30px;
		text-align: center;
		padding:0 0 5px 0;
		margin:0;
		font-size: 2.5em;



	}
	#nav-list-div {
		width:100%;
		margin:auto;
		margin-top: 15px;
	}
	#nav-list {
		margin:auto;
		text-align: center;
		float:none;
	}
	.nav-list-item {
		padding-right: 10px;
		font-size: 0.9em;
	}
	
	.nav-link:hover {
		color:#ff3100;
	}
	p {
		font-size: 1.1em;
	}
	#address-phone p {
		display: none;
	}

}


















